*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container {
    border: 10px double #18ff09;
    /* border-top: 5px solid green; */
    /* border-bottom: 5px dotted blue; */
    width: 50%;
    padding: 1.5em;
    font-size: 1.5rem;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    margin-right: 2em;
    margin-left: 1.5em;
    outline: 5px solid hsl(0deg 0.87% 49.96%);
    outline-offset: 5px;
}

.circle {
    margin: 3rem auto;
    background: hsl(138.46deg 100% 50%);
    width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 50px;
}