@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
   
}

body{
    font-family: "Roboto",sans-serif;
    height:100vh;
   background: hsl(212, 87%, 12%, 0.8);
}

.container{
    font-size: 1rem;
    background-color: #B09A9A;
    color:#041C38;
    text-align: center;
    border:1px solid hsl(0, 1%, 50%);
    border-radius: 4em;
    padding:1rem;
    margin-left: 2em;
    margin-right: 1em;
    margin-top: 1em;
   
}

.boxes{
    display:flex;
    flex-wrap:wrap;
    flex-flow: row wrap;
    justify-content:space-between;
     margin-right: 2em;
}

.box1{
   border:1px solid hsl(0, 1%, 50%);
   width:30%;
   height:30%;
   text-align: center;
   background-color: hsl(0, 12%, 65%);
   color:#041C38;
   margin-top: 2em;
   margin-left: 2em;
   padding:1em;
   border-radius: 1em;
}

li{
   text-align: left;
    margin-left:1em;
    padding:0.2em;
   
}
 a{
    text-decoration: none;
 }

 a:visited{
    background: #041C38;
 }

.box2{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box3{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box4{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box5{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box6{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box7{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box8{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box9{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box10{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:40%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box11{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}

.box12{
    border:1px solid hsl(0, 1%, 50%);
    width:30%;
    height:30%;
    text-align: center;
    background-color: hsl(0, 12%, 65%);
    color:#041C38;
    margin-top: 2em;
    margin-left: 2em;
    padding:1em;
    border-radius: 1em;
}