@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    font-size: 1.5rem;
    font-family: "Nunito", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap:  1rem;
}

div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

div:first-child {
    background-color: dodgerblue;
    /* transform: translateX(-50%);
    transform: scaleX(50% 50%);
    transform:skewX(-10deg); */
}

div:first-child:hover{
    transform:rotate(180deg);
}
div:nth-child(2) {
    background-color: yellow;
    /* transform: translateY(-2rem); */
    /* transform: skewY(10deg); */
}

div:nth-child(2):hover{
    transform: rotate(180deg);
}

div:last-child{
    background-color: limegreen;
    /* transform: translate(100%,-5rem); */
    /* transform: skew(-10deg, -10deg); */
}

div:last-child:hover{
    transform:rotate(180deg);
}

div:hover{
    background-color: midnightblue;
    transition-property: background-color,transform;
    transition-duration: 2s ,3s;
    transition-delay: 0.5s;
    /* transition-timing-function:ease; */
    transition: all ease-in-out 2s 0.5s; 
}

.animate {
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 2;
    animation-direction: alternate;
    animation-fill-mode:forwards;
}

@keyframes slide{
  0%{
    transform: translate(0);
  }

  33%{
    transform: translateX(600px) rotate(180deg);
  }
  66%{
    transform: translateX(-600px) rotate(-180deg);
  }

  100%{
    transform: translateX(0);
    background-color: rebeccapurple;
  }
}